/* primary Colors */
$primary-text-color: #000000;
$primary-accent-color: #83afc4;
$primary-background-color: #e8e8e8;

/* Secondary Colors */
$secondary-background-color: #dfbb9b;
$secondary-text-color: #ffff;
$territary-text-color: #8a8a8a;
$territary-background-color: #f6f6f6;
$secondary-accent-color: #032c64;
$divider-line: 2px solid #e8e8e8;
$border-radius: 10px;

/* reg colors */
$reg-background-color: #d6dfdf;
$reg-primary-color: #374146;

$divider-line: 2px solid #28262d;
$border-radius: 10px;

/* responsiveness*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
