@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, #5d4a4a, #b6d1db);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  @include tablet {
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 70%;
    margin: 3rem auto;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: $secondary-text-color;
    text-align: center;
    @include tablet {
      font-size: 1.7rem;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 0.8rem;
    color: $secondary-text-color;
    font-weight: 100;
    margin-bottom: 1.5rem;
    @include tablet {
      text-align: left;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__primary {
    @include primary-button;
  }
  &__secondary {
    display: none;
    @include tablet {
      display: flex;
      @include secondary-button;
      font-size: 0.8rem;
    }
  }

  &__dentist {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
      right: -40px;
      top: -40px;
      height: 18rem;
      z-index: 1;
    }
  }
}
